<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
    {{!-- <button type="button" class="edit-comment">Edit Comment</button>
    <button type="button" class="delete-comment">Delete Comment</button> --}}
  </section>
  {{/each}}
</div>