{{#if loggedIn}}
{{> post-info post}}
    <form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
        <button type="button" class="upvote-btn">upvote</button>
    </div>
    </form>
{{ else }}
    <p>Please <a class="nav-link" href="/login">Login</a> or <a class="nav-link" href="/signup">Signup</a></p>
{{/if}}

{{> comments post.comments}}


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}